@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-moz-selection {
  color: #fff;
  background: #F2494C;
}

::selection {
  color: #fff;
  background: #F2494C;
}

.container {
  width: 1024px;
  margin: auto;
  max-width: 100%;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

.red_btn {
  background: #F2494C;
  color: #fff;
}

.grey_btn {
  background: #ADADAD;
  color: #fff;
}

.darkgrey_btn {
  background: #333;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 100px;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

p, a {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.lightgrey {
  color: #F2F2F2;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

.red_btn {
  background: #F2494C;
  font-family: "Roboto", sans-serif;
  color: #fff;
  transition: all 0.3s;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
}
.red_btn:hover {
  background: #FF5555;
}

p {
  line-height: 1.4;
  margin-bottom: 20px;
  font-size: 16px;
}

.red {
  color: #F2494C;
}

.grey {
  color: #333;
}

.lightgrey {
  color: #ADADAD;
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

header {
  background: #fff;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 5;
  box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.3);
}
header .logo {
  height: 20px;
  margin-left: 40px;
}
header .menu {
  display: none;
}

nav {
  justify-content: flex-end;
  padding: 20px;
  display: flex;
  align-items: center;
  margin-right: 20px;
  float: right;
}
nav ul {
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  margin: 0 20px;
  color: #333;
}
nav ul li a:hover {
  color: #F2494C;
}
nav .nav_line {
  margin-right: 40px;
}
nav a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}
nav .nav_profile {
  position: relative;
}
nav .nav_profile a {
  display: flex;
  align-items: center;
}
nav .nav_profile a p {
  display: inline-block;
  margin-left: 10px;
  color: #333;
  margin-bottom: 0;
}
nav .nav_profile .nav_profile_img {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
nav .nav_profile .nav_profile_img img {
  width: inherit;
}
nav .nav_profile .nav_profile_dropdown {
  position: absolute;
  width: 200px;
  background: #F2F2F2;
  top: 60px;
  right: -25px;
  box-sizing: border-box;
  padding: 15px;
  z-index: 2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
nav .nav_profile .nav_profile_dropdown .wallet {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
nav .nav_profile .nav_profile_dropdown .wallet h4 {
  display: inline-block;
  margin-left: 8px;
  margin-top: 3px;
}
nav .nav_profile .nav_profile_dropdown .wallet img {
  width: 26px;
}
nav .nav_profile .nav_profile_dropdown ul {
  width: 100%;
  text-align: center;
}
nav .nav_profile .nav_profile_dropdown ul li {
  margin: 10px;
}
nav .nav_profile .nav_profile_dropdown ul .logout {
  margin-top: 30px;
}

form {
  width: 550px;
  padding: 25px;
  text-align: center;
  max-width: 100%;
}
form input[type="email"], form input[type="password"], form input[type="text"], form input[type="submit"], form input[type="number"], form textarea {
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  padding: 15px 15px !important;
  color: #333;
  outline: none;
}
form textarea {
  resize: none;
}
form input:focus, form textarea:focus {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.3);
}
form input[type="email"], form input[type="password"], form input[type="text"], form input[type="number"], form textarea {
  box-sizing: border-box;
  margin-bottom: 10px;
  background: #F2F2F2;
  font-family: "Roboto", sans-serif;
}
form input[type="submit"] {
  cursor: pointer;
  color: #fff;
}
form p {
  margin-top: 20px;
  margin-bottom: 10px;
}
form a {
  color: #F2494C;
}
form .error_message {
  background: #F2494C;
  padding: 10px;
  color: white;
  border-radius: 5px;
  margin-bottom: 25px;
}

.banner_image {
  width: 100%;
  height: 600px;
  background: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  position: relative;
  line-height: 1.4;
}
.banner_image p {
  color: white;
}

.info {
  width: 100%;
}
.info .btn {
  margin-top: 25px;
}

.main_home {
  margin-top: 80px;
  text-align: center;
}
.main_home h2 {
  margin-bottom: 20px;
}
.main_home .search_filters {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  padding-top: 20px;
}
.main_home .filter {
  display: flex;
  align-items: flex-start;
  z-index: 1;
  position: relative;
  padding: 10px 20px;
}
.main_home .filter a {
  color: #333;
  text-decoration: none;
}
.main_home .filter a img {
  width: 12px;
  margin-left: 12px;
  transform: translateY(-2px);
}
.main_home .filter .dropdown {
  background: red;
  position: absolute;
  width: auto;
  text-align: left;
  top: 35px;
  left: 0;
  background: #F2F2F2;
  box-sizing: border-box;
  padding: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: "Roboto", sans-serif;
}
.main_home .filter .dropdown p {
  display: flex;
  align-items: center;
  min-width: 131px;
  padding: 5px 0px;
  margin: 0;
}
.main_home .filter .dropdown p label {
  margin-left: 5px;
}
.main_home .search {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
}
.main_home .search input {
  width: 300px;
}

.see_more {
  text-align: center;
  margin: 50px 0 100px 0;
}

.project_pages {
  width: 31%;
  margin: 30px 34.5% 60px 34.5%;
}
.project_pages a {
  padding: 12px 14px;
  color: #333;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.3s;
  transition-property: color;
}
.project_pages a:hover {
  color: #F2494C;
}
.project_pages .arrow {
  width: 40px;
  height: 40px;
  padding: 0;
  background: #ADADAD;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background;
}
.project_pages .arrow img {
  height: 8px;
}
.project_pages .arrow:hover {
  background: #F2494C;
}
.project_pages .back {
  float: left;
}
.project_pages .next {
  float: right;
}
.project_pages .current_page {
  color: #F2494C;
}
.project_pages .arrow-back {
  transform: rotate(90deg) translateY(1px);
}
.project_pages .arrow-next {
  transform: rotate(-90deg) translateY(1px);
}

.project_tiles {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-height: 600px;
}
.project_tiles .project_tile {
  width: 31%;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.3);
  text-align: center;
  line-height: 1.6;
  margin-top: 35px;
  max-height: 368px;
}
.project_tiles .project_tile:nth-child(3n+2) {
  margin-left: 3.5%;
  margin-right: 3.5%;
}
.project_tiles .project_banner {
  width: 100%;
  height: 200px;
}
.project_tiles .project_info {
  padding: 20px 0;
}

.main_detail {
  margin-top: 30px;
}
.main_detail .banner_wrapper {
  width: 70%;
  height: 450px;
  overflow: hidden;
  border-radius: 5px;
  display: inline-block;
  box-sizing: border-box;
}
.main_detail .detail_information {
  width: 30%;
  float: right;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
  position: relative;
  height: 450px;
}
.main_detail .detail_information h3 {
  margin-bottom: 10px;
}
.main_detail .detail_information h5 {
  margin-top: 30px;
  margin-bottom: 10px;
}
.main_detail .detail_information .bar {
  width: 180px;
  background: #F2F2F2;
  height: 6px;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
.main_detail .detail_information .bar .progress {
  height: 100%;
  background: #F2494C;
}
.main_detail .detail_information .btn {
  margin-top: 20px;
}

.about_project, .project_feed {
  width: 48%;
  float: left;
  margin-top: 40px;
}

.about_project h3 {
  margin-bottom: 20px;
}

.project_feed {
  float: right;
  text-align: center;
}
.project_feed h3 {
  margin-bottom: 20px;
  text-align: left;
}
.project_feed .feed_block {
  box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.3);
  border-radius: 5px;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
}
.project_feed .feed_block .feed_image_wrapper {
  width: 120px;
  height: 80px;
  float: left;
  border-radius: 5px;
  margin-right: 10px;
  overflow: hidden;
}
.project_feed .feed_block .feed_image_wrapper .feed_image {
  width: 100%;
  height: 100%;
}
.project_feed .btn {
  margin-bottom: 20px;
}

.popup {
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.75);
  position: fixed;
  z-index: 1;
  text-align: center;
}
.popup .fund {
  width: 400px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.3);
  border-radius: 5px;
  padding: 30px;
  box-sizing: border-box;
}
.popup .fund h4, .popup .fund h5 {
  text-transform: uppercase;
  text-align: center;
}
.popup .fund h5 {
  margin-top: 30px;
  margin-bottom: 10px;
}
.popup .fund form {
  padding: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  text-align: left;
}
.popup .fund form p {
  display: inline;
}
.popup .fund form input {
  text-align: center;
}
.popup .fund form input[type="submit"] {
  margin-top: 30px;
}
.popup .fund form .darkgrey_btn {
  font-size: 16px;
  padding: 15px 15px !important;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

.main_about {
  overflow: hidden;
  margin: 100px 0 0 0;
}
.main_about h3 {
  margin-bottom: 20px;
  text-align: left;
}
.main_about .about-article {
  width: 55%;
  float: left;
  box-sizing: border-box;
  padding-right: 50px;
}
.main_about .about-form {
  width: 45%;
  float: right;
}
.main_about .about-form form {
  width: 100%;
}

.main_organisations {
  display: flex;
  justify-content: space-between;
}
.main_organisations .organisation_tile {
  width: 49%;
  text-align: center;
  box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.3);
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 20px;
}
.main_organisations .organisation_tile .image_wrapper {
  height: 200px;
  width: 100%;
}
.main_organisations .organisation_tile .image_wrapper .image {
  width: 100%;
  height: 100%;
}
.main_organisations .organisation_tile article {
  padding: 30px;
}

.about_organisation {
  text-align: center;
  margin-top: 60px;
  width: 100%;
}
.about_organisation p {
  margin-top: 30px;
  margin-bottom: 80px;
}

@media only screen and (max-width: 950px) {
  h1 {
    font-size: 40px;
    max-width: 90%;
    margin: 0 5%;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 12px;
  }

  header {
    padding: 15px 0;
  }
  header .logo {
    height: 15px;
    margin-left: 5%;
  }
  header .menu {
    height: 15px;
    margin-right: 5%;
    float: right;
    display: block;
  }
  header nav {
    display: none;
  }

  form {
    width: 90%;
  }

  #page_index .info p {
    max-width: 90%;
    margin: 0 5%;
    font-size: 20px;
  }
  #page_index main {
    margin-top: 40px;
  }
  #page_index main .search_filters .filter {
    display: none;
  }
  #page_index main .search_filters form {
    position: inherit;
  }
  #page_index main .search_filters form input {
    width: 100%;
  }
  #page_index main .container {
    width: 90%;
  }
  #page_index main .container .project_tile {
    width: 47.5%;
    float: left;
    margin: 15px 0 0 0;
  }
  #page_index main .container .project_tile:nth-child(even) {
    margin: 15px 0 0 5%;
  }

  .project_pages {
    width: 90%;
    margin: 15px 5%;
  }
}

/*# sourceMappingURL=styles.css.map */
