@import 'variables';
@import 'components/header';
@import 'components/form';
@import 'components/index';
@import 'components/project';
@import 'components/projects_page';

.container{
  width:1024px;
  margin:auto;
}

.btn{
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display:inline-block;
  margin-top: 10px;
}

.red_btn{
  background: $primary;
  color:white;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Nunito', sans-serif;
}

h1{
  font-size: 100px;
}

h2{
  font-size: 56px;
}

h3{
  font-size: 26px;
}

h4{
  font-size: 20px;
}

p, a{
  font-family: 'Roboto', sans-serif;
  color:$grey;
}

.red{
  color:$primary;
}

.grey{
  color:$grey;
}

.lightgrey{
  color:$lightgrey;
}

.hide{
  display: none;
}

.center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
