@import 'variables';
@import 'components/reset';
@import 'components/header';
@import 'components/index';
@import 'components/project';

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700');

.container{
  width: 1024px;
  margin: auto;
}

.btn{
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display:inline-block;
  margin-top: 10px;
}

.red_btn{
  background: $primary;
  color:white;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Nunito', sans-serif;
}

h2{
  font-size: 26px;
  font-weight: 600;
}

h3{
  font-size: 20px;
}

p, a{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.lightgrey{
  color:$lightgrey;
}
