@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'variables';
@import 'components/reset';

body{
  max-width:100%;
  overflow-x: hidden;
}

::-moz-selection {
  color: $white;
  background: $darkred;
}

::selection {
  color: $white; 
  background: $darkred;
}

.container{
  width: 1024px;
  max-width: 100%;
  margin: auto;
//  overflow: hidden;
}

.btn{
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

h1, h2, h3, h4, h5, h6{
  font-family: $nunito;
}

h1{
  font-size: 100px;
}

h2{
  font-size: 56px;
}

h3{
  font-size: 26px;
}

h4{
  font-size: 20px;
}

h5{
  font-size: 16px;
}

p, a{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

p{
  line-height: 1.4;
  margin-bottom: 20px;
  font-size: 16px;
}

@import 'components/header';
@import 'components/form';
@import 'components/index';
@import 'components/projects_pages';
@import 'components/projects';
@import 'components/project';
@import 'components/about';
@import 'components/profile';
@import 'components/organisations';
@import 'components/transactions';
@import 'components/organisation';
@import 'components/mediaqueries';

.red_btn{
  background: $darkred;
  color: $white;
}

.grey_btn{
  background: $grey;
  color: $white;
}

.darkgrey_btn{
  background: $darkgrey;
  color: $white;
}

.lightgrey{
  color: $lightgrey;
}

.red{
  color: $darkred;
}

.grey{
  color: $darkgrey;
}

.lightgrey{
  color: $grey;
}

.hide{
  display: none !important;
}

.invisible{
    visibility: hidden;
}

.btn{
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display:inline-block;
  margin-top: 10px;
}

.red_btn{
    background: $darkred;
    font-family: $roboto;
  	color: $white;
    transition: $hover;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    &:hover{
        background: $lightred;
    }
}

.center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
	
.edit{
  position: fixed;
  top: 100px;
  right:40px;
}