header{
  background:white;
  width:100%;
  margin:0;
  display: inline-block;
}

nav{
  float:right;
  padding:20px;
}

nav ul{
  display: inline-block;
}

nav ul li{
  display: inline-block;
}

nav a{
  color:$grey;
  text-decoration: none;
}

nav .nav_profile{
  display: inline-block;
}

nav .nav_profile_img{
  display: inline-block;
  width:40px;
}

nav .nav_profile_img img{
  width:100%;
}
