header{
  background:white;
  width:100%;
  margin:0;
  display: inline-block;
}

nav{
  display: flex;
  justify-content: flex-end;
  padding:20px;
  display: flex;
  align-items:center;

  ul{

    li{
      display: inline-block;

      a{
        margin: 0 20px;
      }
    }
  }

  .nav_line{
    margin-right:20px;
  }

  a{
    color:$grey;
    text-decoration: none;
    font-size:16px;
  }

  .nav_profile{
    position: relative;

    a{
      display: flex;
      align-items:center;

      p{
        display: inline-block;
        margin-left:10px;
      }
    }

    .nav_profile_img{
      display: inline-block;
      width:40px;
      height:40px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;

      img{
        width:inherit;
      }
    }

    .nav_profile_dropdown{
      position: absolute;
      width:200px;
      background: #F2F2F2;
      top:60px;
      right:0;
      box-sizing: border-box;
      padding:15px;
      z-index: 2;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;



      ul{
        width:100%;
        text-align: center;

        li{
          margin:10px;
        }

        .logout{
          margin-top:30px;
        }
      }
    }
  }
}
