header{
  background:white;
  width:100%;
  margin:0;
  display: inline-block;
}

nav{
  display: flex;
  justify-content: flex-end;
  padding:20px;
  display: flex;
  align-items:center;

  ul{

    li{
      display: inline-block;

      a{
        margin: 0 20px;
      }
    }
  }

  .nav_line{
    margin-right:20px;
  }

  a{
    color:$grey;
    text-decoration: none;
    font-size:16px;
  }

  .nav_profile{
    position: relative;

    a{
      display: flex;
      align-items:center;

      p{
        display: inline-block;
        margin-left:10px;
      }
    }
  }

  .nav_profile_img{
    display: inline-block;
    width:40px;
    height:40px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    img{
      width:inherit;
    }
  }
}
