.banner_image{
  width: 95%;
  height: calc(100vh - 120px);
  margin: 0 2.5% 10px 2.5%;
  background: url('../images/banner.jpg');
  background-size: cover;
  background-position: center;
  color: $white;
  position: relative;
  line-height: 1.4;
  border-radius: $radius;

  p{
    color:white;
  }
}

.info{
  width: 100%;
  display: none;
}

.btn{
    border-radius: $radius;
}

section .btn{
    bottom: 0;
    position: absolute;
    transform: translate(40vw, 21px);
    text-transform: uppercase;
  }

main{
  margin-top: 80px;
  text-align: center;

  h2{
    margin-bottom: 20px;
  }
}

.see_more{
  text-align: center;
  margin: 50px 0 100px 0;;
}
