@media only screen and (max-width: 950px){
	
	h1{
		font-size: 40px;
		max-width: 90%;
		margin: 0 5%;
	}
	
	h2{
		font-size: 30px;
	}
	
	h3{
		font-size: 18px;
	}
	
	h4{
		font-size: 12px;
	}
	
	header{
		padding: 15px 0;
		.logo {
			height: 15px;
			margin-left: 5%;
		}
		.menu{
			height: 15px;
			margin-right: 5%;
			float: right;
			display: block;
		}
		nav{
			display: none;
		}
	}

	form{
		width: 90%;
	}
	
	#page_index{
		.info p{
			max-width: 90%;
			margin: 0 5%;
			font-size: 20px;
		}
		main{
			margin-top: 40px;
			.search_filters{
				.filter{
					display: none;
				}
				form{ 
					position: inherit;
					input{
						width: 100%;
					}
				}
			}
			.container{
				width: 90%;
				.project_tile{
					width: 47.5%;
					float: left;
					margin: 15px 0 0 0;
					&:nth-child(even){
						margin: 15px 0 0 5%;
					}
				}
			}
		}
	}
	
	.project_pages{
		width: 90%;
		margin: 15px 5%;
	}
}