.main_project{
  margin-top:30px;
  
  .banner_wrapper{
      width:70%;
      height:450px;
      overflow: hidden;
      border-top-left-radius:5px;
      border-bottom-left-radius:5px;
      display: inline-block;
      box-sizing: border-box;
  }

  .project_information{
      width:30%;
      float:right;
      display: inline-block;
      box-sizing: border-box;
      text-align: center;
      padding:20px;
      position: relative;
      height:450px;

      h3{
          margin-bottom:10px;
      }

      h5{
          margin-top:25px;
          margin-bottom:10px;
      }
  }
}