.main_project{
  margin-top:30px;
  
  .banner_wrapper{
      width:70%;
      height:450px;
      overflow: hidden;
      border-radius: 5px;
      display: inline-block;
      box-sizing: border-box;
  }

  .project_information{
      width:30%;
      float:right;
      display: inline-block;
      box-sizing: border-box;
      text-align: center;
      padding:20px;
      position: relative;
      height:450px;

      h3{
          margin-bottom:10px;
      }

      h5{
          margin-top:25px;
          margin-bottom:10px;
      }

      .bar{
        width:180px;
        background:$lightgrey;
        height:6px;
        border-radius:3px;
        margin-top: 10px;
        margin-bottom: 20px;
        overflow: hidden;

        .progress{
          height:100%;
          background: $darkred;
        }
      }
  }
}