.main_detail{
  margin-top:140px;
  
  .banner_wrapper{
      width:70%;
      height:450px;
      overflow: hidden;
      border-radius: $radius;
      display: inline-block;
      box-sizing: border-box;

      .banner_image{
        width:100%;
        height:100%;
      }
  }

  .detail_information{
      width:30%;
      float:right;
      display: inline-block;
      box-sizing: border-box;
      text-align: center;
      padding:20px;
      position: relative;
      height:450px;

      h3{
          margin-bottom:10px;
      }

      h5{
          margin-top:30px;
          margin-bottom:10px;
      }

      .btn{
        margin-top:20px;
      }
  }
}

.bar{
  width:180px;
  background:$lightgrey;
  height:6px;
  border-radius:3px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;

  .progress{
    height:100%;
    background: $darkred;
  }
}

.about_project, .project_feed{
  width:48%;
  float:left;
  margin-top:40px;

  textarea{
    height:200px;
  }
}

.about_project{
  h4{
    margin-bottom:20px;
  }
}

.project_feed{
  float:right;
  text-align: center;

  h4{
    margin-bottom:20px;
    text-align: left;
  }

  p{
    margin-top:0;
  }

  .feed_block{
    box-shadow: $shadow;
    border-radius: $radius;
    float:left;
    width:100%;
    margin-bottom:10px;
    padding:10px;
    text-align: left;

    .feed_image_wrapper{
      width:120px;
      height:80px;
      float:left;
      border-radius:5px;
      margin-right:10px;
      overflow:hidden;

      .feed_image{
        width:100%;
        height:100%;
      }
    }
  }

  .btn{
    margin-bottom:20px;
  }
}

.popup{
  width:100%;
  height:100vh;
  background: rgba(255,255,255, 0.75);
  position: fixed;
  z-index: 10;
  text-align: center;
  top:0;

  .fund{
    width:400px;
    background:$white;
    box-shadow: $shadow;
    border-radius: $radius;
    padding: 30px;
    box-sizing: border-box;

    h4, h5{
      text-transform: uppercase;
      text-align: center;
    }

    h5{
      margin-top:30px;
      margin-bottom: 10px;
    }

    form{
      padding:0;
      text-align: center;
      font-family: $roboto;
      text-align: left;

      p{
        display: inline;
      }

      input{
        text-align: center;
      }

      input[type="submit"]{
        margin-top:30px;
      }
    }
  }
}

.project_title{
  text-align: center;
  clear:both;
  position: relative;

  h3{
    display: inline-block;
    margin-top:15px;
  }
  
  a{
    position: absolute;
    right:0;
    top:0;
  }
}

.edit_project{

  .detail_information h5{
    margin-top:20px;
  }

  form{
    width:100%;
    padding:0;

    input{
      text-align: center;
      margin-bottom:0;
    }
  }
}

.add_desc{
  height:150px;
}