.dropdown-per, .dropdown-pro {
  display: inline-block;
  width:100%;
}

.dropdown-content, .dropdown-project {
  z-index: 1;
  max-height:49px;
  overflow: hidden;
}

.dropdown-content a, .dropdown-project a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background:$lightgrey;
}

.myInput, .myInput-project{
  margin-top:0 !important;
}

.search_project{
  margin-top: 10px;
}

.refund{
  width:550px !important;

  h2{
    margin-bottom: 10px;
  }

  input{
    margin-top:10px;
  }
}