.transaction_title{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:0 20px;
    margin-top:150px;
}

.transaction{
    width:100%;
    border-radius: $radius;
    box-shadow: $shadow;
    height:80px;
    margin-top:20px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:20px;
    box-sizing: border-box;
}