.transactions{
    margin-top:150px;
}

.transaction_wallet{
    margin-bottom:30px;
    float:left;
}

.add_money{
    float:right;
    text-decoration: none;
}

.transaction_title{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:0 30px;
    width:100%;
    box-sizing: border-box;
}

.transaction{
    width:100%;
    border-radius: $radius;
    box-shadow: $shadow;
    height:80px;
    margin-top:20px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:30px;
    box-sizing: border-box;
}